/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

/*********************
HEADER STYLES
*********************/

.header-bg {
    padding: 10px 20px;
}

.f-pc-logo {
    width: 45.815899%;
    float: left;
}