/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
    width: 89.25%;
}


/*********************
HEADER STYLES
*********************/

.header-bg {
    padding: 10px 20px;
}

.d-pc-logo {
    width: 77%;
    margin: 0 auto;
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	
	li {
                width: 33.333333%;

		a {
                        text-align: center;
			
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/* Sub menu items begin */
		ul.sub-menu,
		ul.children {

			li {

				a {

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		} /* end sub menu items */

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */

/*********************
GALLERY STYLES
*********************/

#gallery-nav {
    ul {
        margin: 0;

        li {
            padding: 0 0 15px 0;
            cursor: pointer;

            .img-overlay-panel {
                .overlay {
                    img {
                        margin: 35%;
                        width: 28.703703%;
                        height: auto;
                    }
                }
            }
        }

        li.current-img {
            cursor: default;
        }
    }
}

#gallery-images {
    .img-overlay-panel {
        .overlay {
            cursor: pointer;
        }
    }
}

img.flex-square {
    min-width: inherit; //overwriting the .flex class from _base.scss

    //width and height inline styles needs to be explicit pixel values for Firefox and IE to obey these styles.
    width: auto;
    height: auto;
}
